<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)ZLinq.TTHelp\bin\$(Configuration)\ZLinq.TTHelp.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="ZLinq.TTHelp" #>
<#@ output extension=".cs" #>

using System;
using System.Collections.Generic;
using System.Linq;
using Microsoft.VisualStudio.TestTools.UnitTesting;

namespace ZLinq.Test.Core.Common
{
    [TestClass]
    public class Shuffle
    {          
        <# foreach (var sourceTypeInt in TT.ToInt(TT.StandardLists)) { #>

        [TestMethod]
        public void TestSelectToArrayFrom<#= TT.GetCollectionName(sourceTypeInt) #>()
        {
            var source = (<#= sourceTypeInt #>) Enumerable.Range(1, 100).<#= TT.ToArrayOrToList(sourceTypeInt) #>;

            var shuffled = source.GetShuffle();

            Assert.IsFalse(source.SequenceEqual(shuffled));
        }
        <#}#>

    }
}
