<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)ZLinq.TTHelp\bin\$(Configuration)\ZLinq.TTHelp.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="ZLinq.TTHelp" #>
<#@ output extension=".cs" #>

using System;
using System.Linq;
using Microsoft.VisualStudio.TestTools.UnitTesting;
using ZLinq.Test.Helpers;

namespace ZLinq.Test.Core.Folding
{
    [TestClass]
    public class Last
    {	
		<# foreach (var sourceType in TextTemplate.StandardLists) { 
		string name = TextTemplate.GetCollectionName(sourceType);#>		
		[TestMethod]
        public void Last<#= name #>()
        {
            var x = Enumerable.Range(1, 1024).To<#= name #>();
            var y = Enumerable.Range(1, 1024).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = Enumerable.Range(1, 1024).Select(a => new { A = a}).To<#= name #>();

            Assert.IsTrue(ZEnumerable.Last(x) == Enumerable.Last(x));
			Assert.IsTrue(ZEnumerable.Last(y) == Enumerable.Last(y));
			Assert.IsTrue(ZEnumerable.Last(z) == Enumerable.Last(z));
        }

		[TestMethod]
        public void Last<#= TextTemplate.GetCollectionName(sourceType) #>OrDefault()
        {
            var x = Enumerable.Range(1, 1024).To<#= name #>();
            var y = Enumerable.Range(1, 1024).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = new int[0].To<#= name #>();

            Assert.IsTrue(ZEnumerable.FirstOrDefault(x) == Enumerable.FirstOrDefault(x));
            Assert.IsTrue(ZEnumerable.FirstOrDefault(y) == Enumerable.FirstOrDefault(y));
            Assert.IsTrue(ZEnumerable.FirstOrDefault(z) == Enumerable.FirstOrDefault(z));
        }

		[TestMethod]
        public void Last<#= name #>Predicate()
        {
            var x = Enumerable.Range(1, 1024).To<#= name #>();
            var y = Enumerable.Range(1, 1024).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = Enumerable.Range(1, 1024).Select(a => new { A = a}).To<#= name #>();

            Assert.IsTrue(ZEnumerable.Last(x, val => val%3 == 0) == Enumerable.Last(x, val => val%3 == 0));
			Assert.IsTrue(ZEnumerable.Last(y, val => val.Item1%3 == 0) == Enumerable.Last(y, val => val.Item1%3 == 0));
			Assert.IsTrue(ZEnumerable.Last(z, val => val.A%3 == 0) == Enumerable.Last(z, val => val.A%3 == 0));
        }

		[TestMethod]
        public void Last<#= TextTemplate.GetCollectionName(sourceType) #>OrDefaultPredicate()
        {
            var x = Enumerable.Range(1, 1024).To<#= name #>();
            var y = Enumerable.Range(1, 1024).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = new int[0].To<#= name #>();

            Assert.IsTrue(ZEnumerable.FirstOrDefault(x, val => val%3 == 0) == Enumerable.FirstOrDefault(x, val => val%3 == 0));
            Assert.IsTrue(ZEnumerable.FirstOrDefault(y, val => val.Item1%3 == 0) == Enumerable.FirstOrDefault(y, val => val.Item1%3 == 0));
            Assert.IsTrue(ZEnumerable.FirstOrDefault(z, val => val%3 == 0) == Enumerable.FirstOrDefault(z, val => val%3 == 0));
        }

		<# } #>	


    }
}
