<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)ZLinq.TTHelp\bin\$(Configuration)\ZLinq.TTHelp.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="ZLinq.TTHelp" #>
<#@ output extension=".cs" #>
using System;
using System.Collections.Generic;
using System.Diagnostics.Contracts;
using System.Runtime.CompilerServices;
using JetBrains.Annotations;
using ZLinq.CommonInternal;

// ReSharper disable CheckNamespace
namespace ZLinq
{
    public static partial class ZEnumerable
    {             
        <# foreach (var sourceType in TT.StandardLists) 
        { #>        
                   
		/// <exception cref="ArgumentNullException">Throws when null is passed as input parameter</exception>
		/// <exception cref="InvalidOperationException">Throws when collection has no elements</exception>
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T Last<T>([NotNull] this <#= sourceType #> source)
        {
			source.IsNotEmpty();
            return <#= TT.Cast(sourceType) #>source[source.<#= TT.LengthOrCount(sourceType) #> - 1];
        }         

		/// <exception cref="ArgumentNullException">Throws when null is passed as input parameter</exception>
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T LastOrDefault<T>([NotNull] this <#= sourceType #> source)
        {
            return source.<#= TT.LengthOrCount(sourceType) #> == 0 ? default(T) : <#= TT.Cast(sourceType) #> source[source.<#= TT.LengthOrCount(sourceType) #> - 1];
        }    

		/// <exception cref="ArgumentNullException">Throws when null is passed as input parameter</exception>
		/// <exception cref="InvalidOperationException">Throws when collection has no elements matching the predicate</exception>
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T Last<T>([NotNull] this <#= sourceType #> source, [NotNull] Predicate<T> predicate)
        {
            <#= TT.IsNotNull("source") #>
            <#= TT.IsNotNull("predicate") #>
            for (int i = source.<#= TT.LengthOrCount(sourceType) #> - 1; i >= 0; i--)
            {
                T obj = <#= TT.Cast(sourceType) #> source[i];
                if (predicate(obj))
                    return obj;
            }
            throw new InvalidOperationException();
        }

		/// <exception cref="ArgumentNullException">Throws when null is passed as input parameter</exception>
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T LastOrDefault<T>([NotNull] this <#= sourceType #> source, [NotNull] Predicate<T> predicate)
        {
            <#= TT.IsNotNull("source") #>
            <#= TT.IsNotNull("predicate") #>
            for (int i = source.<#= TT.LengthOrCount(sourceType) #> - 1; i >= 0; i--)
            {
                T obj = <#= TT.Cast(sourceType) #> source[i];
                if (predicate(obj))
                    return obj;
            }
            return default(T);
        }
        <# } #>        
		/// <exception cref="ArgumentNullException">Throws when null is passed as input parameter</exception>
		/// <exception cref="InvalidOperationException">Throws when collection is empty</exception>
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T Last<T>([NotNull] this ICollection<T> source)
        {
            <#= TT.IsNotNull("source") #>
            source.IsNotEmpty();
            return LastHasElements(source);
        }

		/// <exception cref="ArgumentNullException">Throws when null is passed as input parameter</exception>
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T LastOrDefault<T>([NotNull] this ICollection<T> source)
        {
            <#= TT.IsNotNull("source") #>
            if (source.Count == 0)
                return default(T);
            return LastHasElements(source);
        }
        
        private static T LastHasElements<T>(ICollection<T> source)
        {
            var list = source as IList<T>;
            if (list != null)
            {
                return list.Last();
            }
            using (var enumerator = source.GetEnumerator())
            {
                enumerator.MoveNext();
                T current = enumerator.Current;
                while (enumerator.MoveNext())
                {
                    current = enumerator.Current;
                }
                return current;
            }
        }

		/// <exception cref="ArgumentNullException">Throws when null is passed as input parameter</exception>
		/// <exception cref="InvalidOperationException">Throws when collection is empty</exception>
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T Last<T>([NotNull] this ICollection<T> source, [NotNull] Predicate<T> predicate)
        {
            var list = source as IList<T>;
            if (list != null)
            {
                return list.Last(predicate);
            }

            source.IsNotNull("source");
            predicate.IsNotNull("predicate");
            T result = default(T);
            bool flag = false;
            foreach (var value in source)
            {
                if (predicate(value))
                {
                    result = value;
                    flag = true;
                }
            }
            if (flag)
                return result;
            throw new InvalidOperationException();
        }

		/// <exception cref="ArgumentNullException">Throws when null is passed as input parameter</exception>
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T LastOrDefault<T>([NotNull] this ICollection<T> source, [NotNull] Predicate<T> predicate)
        {
            var list = source as IList<T>;
            if (list != null)
            {
                return list.LastOrDefault(predicate);
            }

            source.IsNotNull("source");
            predicate.IsNotNull("predicate");
            T result = default(T);
            foreach (var value in source)
            {
                if (predicate(value))
                {
                    result = value;
                }
            }
            return result;
        }
    }
}
