<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)ZLinq.TTHelp\bin\$(Configuration)\ZLinq.TTHelp.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="ZLinq.TTHelp" #>
<#@ output extension=".cs" #>
using System;
using System.Collections.Generic;
using System.Diagnostics.CodeAnalysis;
using System.Runtime.CompilerServices;
using JetBrains.Annotations;
using ZLinq.Extension;

// ReSharper disable CheckNamespace
namespace ZLinq
{
    [SuppressMessage("ReSharper", "PossibleMultipleEnumeration")]
    public static partial class ZEnumerable
    {             
        <# foreach (var sourceType in TT.StandardLists) 
        { #>        
                   
        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
           public static T Single<T>([NotNull] this <#= sourceType #> source)
        {            
            if (source.<#= TT.LengthOrCount(sourceType) #> > 1)
            {
                throw new InvalidOperationException("Collection contains more than one element");
            }
            return <#= TT.Cast(sourceType) #>source[0];
        }     

        [Pure, MethodImpl(MethodImplOptions.AggressiveInlining)]
        public static T SingleOrDefault<T>([NotNull] this <#= sourceType #> source)
        {            
            if (source.<#= TT.LengthOrCount(sourceType) #> > 1)
            {
                throw new InvalidOperationException("Collection contains more than one element");
            }
            return source.<#= TT.LengthOrCount(sourceType) #> == 0 ? default(T) : <#= TT.Cast(sourceType) #> source[0];
        }    
    
        <# } #>    
        [Pure]
        public static T Single<T>([NotNull] this ICollection<T> source)
        {
            var list = source as IList<T>;
            if (list != null)
            {
                return list.Single();
            }

            if (source.Count > 1)
            {
                throw new InvalidOperationException("Collection contains more than one element");
            }
            using (var enumerator = source.GetEnumerator())
            {
                enumerator.MoveNext();
                return enumerator.Current;
            }
        }

        [Pure]
        public static T SingleOrDefault<T>([NotNull] this ICollection<T> source)
        {
            var list = source as IList<T>;
            if (list != null)
            {
                return list.SingleOrDefault();
            }

            if (source.Count > 1)
            {
                throw new InvalidOperationException("Collection contains more than one element");
            }
            using (var enumerator = source.GetEnumerator())
            {
                enumerator.MoveNext();
                return enumerator.Current;
            }
        }
        <# foreach (var sourceType in TT.Foreachable) 
        { #>        

        [Pure]
        public static T Single<T>([NotNull] this <#= sourceType #> source, [NotNull] Predicate<T> predicate)
        {
            <#= TT.IsNotNull("source") #>
            <#= TT.IsNotNull("predicate") #>
            T result = default(T);
            bool found = false;
            foreach (T value in source)
            {
                if (predicate(value))
                {
                    if (found)
                        throw new InvalidOperationException("Collection contains more than one element");
                    result = value;    
                    found = true;
                }
            }
            if (!found)
                throw new InvalidOperationException("Collection has no elements");
            return result;
        }

        [Pure]
        public static T SingleOrDefault<T>([NotNull] this <#= sourceType #> source, [NotNull] Predicate<T> predicate)
        {
            <#= TT.IsNotNull("source") #>
            <#= TT.IsNotNull("predicate") #>
            T result = default(T);
            bool found = false;
            foreach (T value in source)
            {
                if (predicate(value))
                {
                    if (found)
                        throw new InvalidOperationException("Collection contains more than one element");
                    result = value;    
                    found = true;
                }
            }
            return result;
        }

        <# } #>        

    }
}
