<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)ZLinq.TTHelp\bin\$(Configuration)\ZLinq.TTHelp.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="ZLinq.TTHelp" #>
<#@ output extension=".cs" #>

using System.Collections;
using System.Collections.Generic;
using System.Diagnostics.CodeAnalysis;
using System.Diagnostics.Contracts;
using System.Linq;


namespace ZLinq.Test.Helpers
{
    public static class Maxer
    {        
        <# foreach (var type in TT.WithNullables(TT.NumberTypes)) { #>

        public static <#= type #> GetMax(IEnumerable<<#= type #>> source)
        {
           if (!source.Any())
              return default(<#= type #>);
           var result = source.First();
           foreach(var x in source)
           {
                if (<#= TT.IsHigher(TT.IsNullable(type), "result", "x") #>)
                    result = x;
           }
           return result;
        }
        <#}#>

    }
}
