<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)ZLinq.TTHelp\bin\$(Configuration)\ZLinq.TTHelp.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="ZLinq.TTHelp" #>
<#@ output extension=".cs" #>

using System;
using System.Linq;
using Microsoft.VisualStudio.TestTools.UnitTesting;
using ZLinq.Test.Helpers;

namespace ZLinq.Test.Core.Fold
{
    [TestClass]
    public class Single
    {	
		<# foreach (var sourceType in TT.StandardCollections) { 
		string name = TT.GetCollectionName(sourceType);#>		

#region <#= name #>
		[TestMethod]
        public void Single<#= name #>()
        {
            var x = Enumerable.Range(1, 1).To<#= name #>();
            var y = Enumerable.Range(1, 1).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = Enumerable.Range(1, 1).Select(a => new { A = a}).To<#= name #>();

            Assert.AreEqual(ZEnumerable.Single(x), Enumerable.Single(x));
			Assert.AreEqual(ZEnumerable.Single(y), Enumerable.Single(y));
			Assert.AreEqual(ZEnumerable.Single(z), Enumerable.Single(z));
        }

		[TestMethod]
        public void Single<#= TT.GetCollectionName(sourceType) #>OrDefault()
        {
            var x = Enumerable.Range(1, 1).To<#= name #>();
            var y = Enumerable.Range(1, 1).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = new int[0].To<#= name #>();

            Assert.AreEqual(ZEnumerable.SingleOrDefault(x), Enumerable.SingleOrDefault(x));
            Assert.AreEqual(ZEnumerable.SingleOrDefault(y), Enumerable.SingleOrDefault(y));
            Assert.AreEqual(ZEnumerable.SingleOrDefault(z), Enumerable.SingleOrDefault(z));
        }

		[TestMethod]
        public void Single<#= name #>Predicate()
        {
            var x = Enumerable.Range(1, 5).To<#= name #>();
            var y = Enumerable.Range(1, 5).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = Enumerable.Range(1, 5).Select(a => new { A = a}).To<#= name #>();

            Assert.AreEqual(ZEnumerable.Single(x, val => val%3 == 0), Enumerable.Single(x, val => val%3 == 0));
			Assert.AreEqual(ZEnumerable.Single(y, val => val.Item1%3 == 0), Enumerable.Single(y, val => val.Item1%3 == 0));
			Assert.AreEqual(ZEnumerable.Single(z, val => val.A%3 == 0), Enumerable.Single(z, val => val.A%3 == 0));
        }

		[TestMethod]
        public void Single<#= TT.GetCollectionName(sourceType) #>OrDefaultPredicate()
        {
            var x = Enumerable.Range(1, 5).To<#= name #>();
            var y = Enumerable.Range(1, 5).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = new int[0].To<#= name #>();

            Assert.AreEqual(ZEnumerable.SingleOrDefault(x, val => val%3 == 0), Enumerable.SingleOrDefault(x, val => val%3 == 0));
            Assert.AreEqual(ZEnumerable.SingleOrDefault(y, val => val.Item1%3 == 0), Enumerable.SingleOrDefault(y, val => val.Item1%3 == 0));
            Assert.AreEqual(ZEnumerable.SingleOrDefault(z, val => val%3 == 0), Enumerable.SingleOrDefault(z, val => val%3 == 0));
        }
		
		[TestMethod]
        public void Single<#= name #>Negative()
        {
            var x = Enumerable.Range(1, 10).To<#= name #>();
            var y = Enumerable.Range(1, 10).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = Enumerable.Range(1, 10).Select(a => new { A = a}).To<#= name #>();

			try
			{
				var res = ZEnumerable.Single(x);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}
			
			try
			{
				var res = ZEnumerable.Single(y);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}

			try
			{
				var res = ZEnumerable.Single(z);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}
        }

		[TestMethod]
        public void Single<#= TT.GetCollectionName(sourceType) #>OrDefaultNegative()
        {
            var x = Enumerable.Range(1, 10).To<#= name #>();
            var y = Enumerable.Range(1, 10).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = Enumerable.Range(1, 10).Select(a => new { A = a}).To<#= name #>();

			try
			{
				var res = ZEnumerable.SingleOrDefault(x);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}
			
			try
			{
				var res = ZEnumerable.SingleOrDefault(y);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}

			try
			{
				var res = ZEnumerable.SingleOrDefault(z);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}
        }

		[TestMethod]
        public void Single<#= name #>PredicateNegative()
        {
            var x = Enumerable.Range(1, 15).To<#= name #>();
            var y = Enumerable.Range(1, 15).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = Enumerable.Range(1, 15).Select(a => new { A = a}).To<#= name #>();

			try
			{
				var res = ZEnumerable.Single(x, val => val%3 == 0);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}
			
			try
			{
				var res = ZEnumerable.Single(y, val => val.Item1%3 == 0);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}

			try
			{
				var res = ZEnumerable.Single(z, val => val.A%3 == 0);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}
        }

		[TestMethod]
        public void Single<#= TT.GetCollectionName(sourceType) #>OrDefaultPredicateNegative()
        {
            var x = Enumerable.Range(1, 15).To<#= name #>();
            var y = Enumerable.Range(1, 15).Select(a => new Tuple<int, int>(a,a)).To<#= name #>();
            var z = Enumerable.Range(1, 15).Select(a => new { A = a}).To<#= name #>();

			try
			{
				var res = ZEnumerable.SingleOrDefault(x, val => val%3 == 0);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}
			
			try
			{
				var res = ZEnumerable.SingleOrDefault(y, val => val.Item1%3 == 0);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}

			try
			{
				var res = ZEnumerable.SingleOrDefault(z, val => val.A%3 == 0);
				Assert.Fail();
			}
            catch (InvalidOperationException)
			{

			}
        }

#endregion		


		<# } #>	


    }
}
